
$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;

p{
    font-size:$font-p;
    color: rgb(184, 68, 145);
}

h2{
    font-size: $font-h2;
}

h3{
    font-size: $font-h3;
    font-weight:lighter;
}

.btn{
    border: none;
    border-radius:2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1.5rem;
    font-weight: 500;
    transition: transform 100ms;
    &:hover{
        transform: scale(1.1);
    }

}



.btn-principal{
    @extend .btn;
    color: rgb(10, 10, 10);
    background-color: blueviolet;
}

.btn-secundario{
    @extend .btn;
    background-color: rgb(162, 92, 228) ;
}
